# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
*          text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.md       text diff=markdown

# Scripts
*.sh       text eol=lf

# Serialisation
*.json     text
*.yaml     text
*.yml      text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
