name: Super-Linter

# Run this workflow every time a new commit pushed to the repository
on: push

jobs:
  # The key is displayed as the job name
  super-lint:

    # Name the Job
    name: Lint code base

    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:

      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: github/super-linter@v3
        env:
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Runs the EditorConfig action
      - name: EditorConfig
        uses: zbeekman/EditorConfig-Action@master
        env:
          EC_FIX_ERROR: true
          ALWAYS_LINT_ALL_FILES: true
